#alert-app {
  display:grid;
  grid-template-columns:50% 35%;
  grid-gap:10%;

  #alert-composer {
    grid-column: 1 / 2;
    position:fixed;

    #test-message-btn {
      font-weight:bold;
      cursor:pointer;
    }
  }

  #alert-preview {
    grid-column:2 / 3;
    margin-right:10%;
  }
}
