#dashboard-main {
  grid-template-rows:15vh 17.5vh auto;
  grid-template-columns:45% auto;
  grid-column-gap:20%;

  #description {
    grid-column: 1 / 2;
    grid-row:2 / 4;

    h1 {
      padding-bottom:0.5em;
      border-bottom:1px solid $gray;
    }

    .nav-link {
      font-weight:bold;
      color:$darkgray;
      font-size:1.4em;

      &:hover {
        color:$red;
      }
    }
  }

  #quick-stats {
    grid-column:2 / 3;
    grid-row:3 / 4;

    a {
      text-decoration:none;
      color:inherit;
    }
  }


}
