#dashboard-main {
  grid-template-rows:15vh auto;

    h1 {
      padding-bottom:0.5em;
      border-bottom:1px solid $gray;
    }

    .nav-link {
      font-weight:bold;
      color:$darkgray;
      font-size:1.4em;

      &:hover {
        color:$red;
      }
    }
}
